@model MVC_PROJECT.Controllers.HomeController;
@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <p>
        @if (Model!=null)
        {
            <div class="message">@Model.userData</div>
        }
    </p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquam libero officia porro. Magni, numquam quae et maxime accusamus provident. Tenetur pariatur suscipit ea dolorem, tempore sed reprehenderit est quod mollitia fugiat optio aspernatur ducimus neque magni iure magnam doloribus sint qui veritatis hic, nemo exercitationem rerum! Culpa corrupti voluptatum impedit dolorum distinctio, necessitatibus ipsum quidem porro nobis doloremque laborum perspiciatis exercitationem labore, voluptatem aliquid, alias velit officia eum! Natus adipisci unde animi hic distinctio? Adipisci aut sapiente cupiditate magni tenetur iusto cum mollitia fuga iste, reprehenderit est aperiam quas earum assumenda distinctio accusantium, quidem corporis, illum quo ratione quaerat.
</div>

